<div>
  <a href="#/topics">Topics</a><br/>
  <div ng-view></div>
</div>

<!-- 
  working example
  <div  ng-controller="SpicyController">
     <button ng-click="chiliSpicy()">Chili</button>
     <button ng-click="jalapenoSpicy()">Jalapeño</button>
     <p>The food is {{spice}} spicy!</p>
  </div>

  <div ng-controller="StoreController as store">
      <li class='list-group-item' ng-repeat="product in store.products | orderBy:'price'">
        <h3 product-title></h3>
        <product-panels></product-panels>  
    </div>


  <form ng-submit="submit()" ng-controller="ExampleController">
    Enter text and hit enter:
    <input type="text" ng-model="text" name="text" ng-blur="submit()" />
    <pre>list={{list}}</pre>
    <pre>text={{text}}</pre>
  </form> -->